/* Header
========================================================================== */
.start-screen__bg {
    /* height: 100vh; */
    /* start-screen-gradient-background */
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

    background-image: url("../../../assets/images/start-screen-background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header {
    padding: 31px 0 26px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo 
--------------------------------*/
.header-logo {
    position: relative;
    text-align: right;
}

.logo__title {
    margin: 0;
    padding: 0;
    /* font */
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo__subtitle {
    display: inline-block;
    margin-top: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.logo__link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9;
    opacity: 0;
}

/* navigation
--------------------------------*/
.header-nav {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin-top: -10px;
}

.header-nav__list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav__item {
    margin-right: 36px;
}

.header-nav__item:last-child {
    margin-right: 0;
}

.header-nav__item--active {
    color: #FAFAFA;
    position: relative;
}

.header-nav__item--active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background: #F1CDB3;
}

.header-nav__link {
    text-decoration: none;
    color: inherit;
    transition: color .2s ease-in-out;
}

.header-nav__link:hover {
    color: #FAFAFA;
}

/* Start Screen
========================================================================== */
.start-screen__content {
    padding: 59px 0 0 0;
    color: #CDCDCD;
}

.content__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 38.33%;
    transform: translateY(-40px);
}

.content__heading {
    margin: 0;
    font-family: var(--title-font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}

.content__subheading {
    margin: 41px 0 42px 0;
}

.content__image {
    width: 58.16%;
    padding-bottom: 60.65%;
    position: relative;
    overflow: hidden;
}

.content__image img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}